## editors
/.idea
/.vscode

## system files
.DS_Store

## npm


/npm-debug.log

## testing
/coverage/

## temp folders
/.tmp/

# build
/_site/
/dist/
/out-tsc/
/public/

storybook-static
custom-elements.json
.vercel## editors
/.idea
/.vscode

## system files
.DS_Store

## npm
/node_modules/*
/npm-debug.log

## testing
/coverage/

## temp folders
/.tmp/

# build
/_site/
/dist/
/out-tsc/
/public/

storybook-static
custom-elements.json
.vercel

# Ignore everything in node_modules
node_modules/*

# Unignore the @haxtheweb directory within node_modules
!node_modules/@haxtheweb

# Ignore everything in node_modules/@haxtheweb, except simple-icon
node_modules/@haxtheweb/*
!node_modules/@haxtheweb/simple-icon